/* SECCIÓN: ¿QUIÉN ESTÁ VIENDO? */
.index-body {
  background-color: #141414;
  color: #fff;
  font-family: 'Helvetica Neue', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
}
@keyframes aparecer {
  from {
    opacity: 0;
    transform: scale(0.95);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
.container h1 {
  font-size: 2em;
  margin-bottom: 2rem;
}

.profile a {
  text-decoration: none;
  color: white;
}

.profile-icon {
  width: 150px;
  height: 150px;
  border-radius: 10%;
  border: 3px solid transparent;
  transition: transform 0.3s ease, border 0.3s ease;
}

.profile-icon:hover {
  transform: scale(1.05);
  border: 3px solid #e50914;
}

.fade-in.visible {
  opacity: 1;
  transform: translateY(0);
}

/* SECCIÓN: INTRODUCCIÓN EDITORIAL */
.intro-body {
  background-color: white;
  color: #111;
  font-family: 'Georgia', serif;
  padding: 100px 5%;
}

.intro-container {
  max-width: 900px;
  margin: auto;
  line-height: 1.8;
  font-size: 1.2rem;
  padding: 0 2rem;
}

.intro-container h1 {
  font-size: 2.8rem;
  margin-bottom: 1rem;
}

.intro-container h2 {
  font-size: 1.6rem;
  color: #666;
  margin-bottom: 2rem;
}

.intro-container p {
  margin-bottom: 1.5rem;
}

/* ========== SCROLLYTELLING HITOS ========== */

.scroll-section {
  padding: 80px 5%;
  background-color: white;
}

.scroll-container {
  display: flex;
  flex-direction: row;
  gap: 60px;
  max-width: 1200px;
  margin: auto;
}

.scroll-column {
  display: flex;
  flex-direction: column;
  width: 45%;
  padding-right: 2rem;
}

.scroll-graphic {
  width: 55%;
}

.step {
  opacity: 0;
  transform: translateY(40px);
  transition: all 0.8s ease-out;
  margin-bottom: 40vh; /* más espacio entre bloques */
}

.step.visible {
  opacity: 1;
  transform: translateY(0);
}

.step p {
  font-size: 1.2rem;
  line-height: 1.8;
}
.texto-graficos {
  background-color: white;
  color: #111;
  font-family: 'Georgia', serif;
  padding: 40px 5%;
  margin-top: 0;
  margin-bottom: 0.1rem;
  font-size: 1.25rem; /* Texto grande */
}

.texto-graficos p {
  margin-bottom: 0rem; /* Controlas el espacio entre párrafos */
}


